.footer {
    text-align: center;
    max-width: 80%;
    border-top: 1px solid #989898;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 20px 0;
    margin: auto;
    margin-top: 40px;
}
.footer span {
    color: #00D515;
}